version: '3.8'

services:
  db:
    image: mysql:8.0.35      # 
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: pass@321
      MYSQL_DATABASE: student_enrollment
    volumes:
      - db_data:/var/lib/mysql
      # - ./database.sql:/docker-entrypoint-initdb.d/database.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -ppass@321 --silent"]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: unless-stopped
    networks:
      - app_network

  web:
    build:
      context: .
      dockerfile: php.Dockerfile
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: pass@321
      DB_NAME: student_enrollment
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - app_network

  nginx:
    build: .
    ports:
      - "80:80"
    depends_on:
      web:
        condition: service_started
    restart: unless-stopped
    networks:
      - app_network

volumes:
  db_data:

networks:
  app_network:
    driver: bridge
